doctype html
html
extends base
block append content
	h4.
		Comments on #{entry[0].name}'s Post
	div.container
		div.postview.row
			div.nameview
				p Name: 
				h5 #{entry[0].name}
			div.titleview
				p Title:
				h5 #{entry[0].title}
			div.textview 
				p Text:
				p !{entry[0].text}
	table
		each item in entry[0].comments
			tr.commentstable
				td.commentnameview !{item.name}
				td.commenttextview !{item.text}