doctype html
html
extends base
block append content
	h4.
		Comments on #{entry[0].name}'s Post
	table
		tr.postview
			td.nameview Name: #{entry[0].name}
			td.titleview Title: #{entry[0].title}
			td.textview Text: !{entry[0].text}
	table
		each item in entry[0].comments
			tr.commentstable
				td.commentnameview !{item.name}
				td.commenttextview !{item.text}