doctype html
html
extends base
block append content
	h4.
		The Day's Refrain
	ul
		p Name: #{entry[0].name}
		p Text: !{entry[0].text}
	h4 Comments!
	table
		- var clength = entry[0].clength
		- var i = 0;
			if clength > 9
				- for (var i = 0; i < 10; ++i) {
					tr.comments
						td.name !{entry[0].comments[i].name}
						td.text !{entry[0].comments[i].text}
				- }
			else
				each item in entry[0].comments
					tr.comments
						td.name !{item.name}
						td.text !{item.text}
	div.viewcomments: button: a(href ='/articles/'+entry[0].id+'/view/comments') View all comments
	form(name="adduser",method="GET",action="/articles/login")
		input(class="buttonsubmit" type="submit", value="Login to Add a comment!")
			