doctype html
html
extends base
block append content
	h4.
		The Day's Refrain
	div.container
		div.postview.row
			div.nameview.col-xs-6.col-sm-6.col-md-6
				p Name: 
				h5 #{entry[0].name}
			div.titleview.col-xs-6.col-sm-6.col-md-6
				p Title:
				h5 #{entry[0].title}
			div.textview.col-xs-12.col-sm-12.col-md-12
				p Text:
				p !{entry[0].text}
	h4 Comments!
	table
		- var clength = entry[0].clength
		- var i = 0;
			if clength > 9
				- for (var i = 0; i < 10; ++i) {
					tr.commentstable
						td.commentnameview !{entry[0].comments[i].name}
						td.commenttextview !{entry[0].comments[i].text}
				- }
			else
				each item in entry[0].comments
					tr.commentstable
						td.commentnameview !{item.name}
						td.commenttextview !{item.text}
						td
							table
								each comments in item.comments
									tr.commentsInComments
										td.commentsInCommentsname !{comments.name}
										td.commentsInCommentsname !{comments.text}
	
	form(name="adduser",method="GET",action="/articles/login")
		input(class="buttonsubmit" type="submit", value="Login to Add a comment!")
	div.viewcomments: button: a(href ='/articles/'+entry[0].id+'/view/comments') View all comments