doctype html
html
extends baseloggedin
block append content
	h4.
		The Day's Refrain
	table
		tr.postview
			td.nameview #{entry[0].name}
			td.textview !{entry[0].text}
	h4 Comments!
	table
		- var clength = entry[0].clength
		- var i = 0;
			if clength > 9
				- for (var i = 0; i < 10; ++i) {
					tr.commentstable
						td.commentnameview !{entry[0].comments[i].name}
						td.commenttextview !{entry[0].comments[i].text}
				- }
			else
				each item in entry[0].comments
					tr.commentstable
						td.commentnameview !{item.name}
						td.commenttextview !{item.text}
						td
							table
								each comments in item.comments
									tr.commentsInComments
										td.commentsInCommentsname !{comments.name}
										td.commentsInCommentsname !{comments.text}

	div.viewcomments: button: a(href ='/articles/'+entry[0].id+'/view/comments') View all comments
	h5 Add a comment :)
	form(name="adduser",method="post",action="/articles/#{entry[0].id}/comment")
		input(value="#{username}" name="commentname")
		input(type="text", placeholder="comment", name="commenttext")
		input(class="buttonsubmit" type="submit", value="submit")